
# Python
__pycache__/
*.pyc
.venv/
.env

# DVC/MLflow artifacts
.mlruns/
mlruns/
**/.dvc/lock
**/.dvc/tmp
**/.dvc/cache/

# Data and models (tracked by DVC instead)
data/*
!data/.gitkeep
models/*
!models/.gitkeep
reports/*.json

# VSCode / IDE
.vscode/
.idea/
